* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("../images/sky.jpg");
    background-size: cover;
    background-position-x: center;
}

.jumbotron {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    background-image: url("../images/mountain.jpg");
    background-size: cover;
    border: 1px solid black;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 25px 0 rgba(0, 0, 0, 0.19);
    
}

.card {
    background: transparent;
    text-align: center;
    padding: 10px;
    border: none;
}

.activity-btn {
    margin: 5px;
    border: 1px solid black;
}

.form-group {
    margin: auto;
    float: center;
    width: 70%;
    border: 1px solid black;
    padding: 10px;
    background: transparent;
    margin-bottom: 20px;
}

.activity {
    width: 200px;
    margin: auto;
    text-align: center;
    padding: 5px;
}

.gif {
    border: 2px solid black;
    max-width: 190px;
    padding: 3px;
    cursor: pointer;
}

.gif:hover {
    border: 5px solid blue;
}

#header {
    color: orangered;
    font-weight: bolder;
    text-shadow: 3px 3px black;
    
}

#subheader {
    color: white;
    text-shadow: 2px 2px 0 black;
}

#click-instructions {
    margin: 10px;
}

#input {
    margin-bottom: 10px;
    margin-top: -10px;
}

#gifBox {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    max-width: 100%;
    margin-bottom: 15%;
}

#add {
    border: 1px solid black;
}
