.jumbotron {
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.form-group {
    margin: auto;
    float: center;
    width: 70%;
    border: 1px solid black;
    padding: 10px;
    background: lightgray;
    margin-bottom: 20px;
}

#input, #add {
    margin: auto;
}

#input {
    margin-bottom: 10px;
}
.header {
    padding-top: none;
    margin-top: none;
}
.activity-btn {
    margin: 5px;
    border: 2px solid black;
}

.activity {
    width: 200px;
    margin: 5px;
    text-align: center;
    padding: 5px;
}

img {
    border: 2px solid black;
    max-width: 190px;
    padding: 3px;
}

#gifBox {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    max-width: 100%;
}

